$icon:'../resource/icons/';
$image:'../resource/images/';


$sm: 550px;
$lg:992px;


$darkbackground:#181818;
$graybackground:#343434;
$darkgraybackground:#1E1E1E;

$primary:#4452FE;
$secondary:#02E4C0;
$light:#FFFFFF;
$lightgray:#DEDEDE;

