@import '../variables.scss';

.card{
    &-BUE{
        max-width: 476px;
    }
&-image {
    &-small {
        width: 225px;
        height: 285px;
        @media (max-width:$lg) {
            width: 329px;
        }
    
    }

    &-large {
        width: 395px;
        height: 285px;
        @media (max-width:$lg) {
            width: 329px;
        }
    
    }
}}