@import '../variables.scss';

h1.headline {
    font-size: 80px;
    line-height: 88px;
    font-weight: bold;

    @media (max-width: $lg) {
        font-size: 52px;
        line-height: 62px;
        font-weight: normal;
    }
}

h2.headline-second {
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;
}

h3.title {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;    
}


a.link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

p {
    &.text {
        margin: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;

        @media (max-width: $lg) {
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
        }
    }

    &.paragraphe {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }
    &.subtitle{       
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    &.subheading{
        font-weight: normal;
font-size: 20px;
line-height: 30px;
    }
}

.text{
&-center {
    text-align: center;
}
&-light{
    color:$light;
}
&-gray{
    color:#5C5C5C;
}
&-dark{
    color:#000000;
}
}